body {
  font-family: "New Rocker";
  background-image: linear-gradient(45deg, black, orange);
  color: white;
}

button {
  background: #e65c00;
  border: none;
  padding: 25px;
  width: 100%;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

}

h1 {
  text-align: center;
  padding: 80px;
  border-radius: 40px;

}

header.logo {
  position: relative;
  height: 80px;
  ;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
}

button:hover {
  background-color: orange;
}